.gridcontainer {
  display: grid;
  grid-template-columns: 300px 200px 120px auto auto;
}
.button {
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
  background-color: #1bb9b7;
  color: #fff;
  font-size: 0.76923077rem;
  cursor: pointer;
  text-align: center;
  border-radius: 0.30769231rem;
  padding: 5px;
  margin: 10px;
}
