.root {
  background-color: #eee;
}
.sidebar {
  background-color: white;
  width: 18%;
  height: 500px;
  border-left: 1px solid #ddd;
  text-decoration: none;
}
.q {
  display: grid;
  grid-template-columns: auto;
}
